body{
    background:#f5f7fb;
}

.card{
    border:none;
    border-radius:15px;
    box-shadow:0px 4px 15px rgba(0,0,0,0.1);
}

.navbar{
    box-shadow:0px 2px 10px rgba(0,0,0,0.1);
}

textarea{
    resize:none;
}

.table{
    background:white;
}