# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Database
*.db

# Logs
logs/
*.log

# Model Files (Optional)
# models/*.pkl

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Environment Variables
.env